version: '3.8'

services:
  db:
    image: mysql:8.4
    container_name: cow-fuelspot-db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "0000"
      MYSQL_DATABASE: fuelspot_db
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
   mysql_data: